.niveles{
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    border: 2px double black;
    width: 50%;
    border-radius: 10px;
}


button{
    padding: 10px;
    cursor: pointer;
    background-color: #ECA72C;
    border-radius: 5px;
    color: black;
    margin:10px;
}

button:hover{
    transform: scale(1.2);
}

#nivel1NoSuperado, #nivel2NoSuperado{
    display: none;
}